.profile__user {
    display: flex;
    align-items: center;
    text-align: start;
    padding-right: 15px;
}
@media (max-width: 644px) {
    .profile__user {
        flex-direction: column;
        padding: 0;
    }
}