.profile {
    padding: 40px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 644px) {
    .profile {
        margin: 0 auto;
        padding: 42px 0 36px;
        flex-direction: column;
        justify-content: center;
    }
}