@font-face {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    src: url(./Inter-Black.woff) format("woff");
    src: url(./Inter-Black.woff2) format("woff2");
    font-weight: 900;
  }
  @font-face {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    src: url(./Inter-Medium.woff) format("woff");
    src: url(./Inter-Medium.woff2) format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    src: url(./Inter-Regular.woff) format("woff");
    src: url(./Inter-Regular.woff2) format("woff2");
    font-weight: 400;
  }

