.profile__avatar {
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    margin-right: 30px;
}
@media (max-width: 644px) {
    .profile__avatar {
        margin: 0 auto;
    }
}