.popup__close-bttn {
    box-sizing: border-box;
    background: url(../../../images/close-icon.svg) no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
    transition: opacity .7s ease 0s;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}
.popup__close-bttn:hover {
    opacity: .6;
}
@media (max-width: 570px) {
    .popup__close-bttn {
        top: -56px;
        right: 0;
    }
}
