.profile__edit-bttn {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    background: url(../../../images/edit-button.svg) no-repeat center;
    background-size: 24px 24px;
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .8s ease 0s;
}
.profile__edit-bttn:hover {
    opacity: .6;
}
@media (max-width: 644px) {
    .profile__edit-bttn {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
    }
}