.profile__user-occupation {
    margin: 0;
    max-width: 519px;
    font-size: 18px;
    line-height: 122%;
}
@media (max-width: 714px) {
    .profile__user-occupation {
        font-size: 15px;
    }
}
@media (max-width: 644px) {
    .profile__user-occupation {
        font-size: 14px;
        line-height: 121%;
    }
}